<p [class.night]="api.mode" class="rouText" *ngIf="load">
  {{title | app: api.langChart}} {{"執行中" | app: api.langChart}}
</p>
<ng-container *ngIf="!load">
  <p [class.night]="api.mode" class="rouText">
    {{"索引" | app: api.langChart}}&ensp;:&ensp;
    {{content.getWay | app: api.langChart}}
  </p>
  <p [class.night]="api.mode" class="rouText">
    {{"資料" | app: api.langChart}}&ensp;:&ensp;
    {{content.body}}
  </p>
</ng-container>
<ul>
  <li [class.night]="api.mode">{{"日期管道" | app: api.langChart}}</li>
  <li [class.night]="api.mode">{{"範例" | app: api.langChart}}:</li>
  <li [class.night]="api.mode" style="margin-left: 30px;" *ngFor="let date of date">
    {{date}}&ensp;:&ensp;{{Today | date: date}}
  </li>
  <li [class.night]="api.mode">{{"參數" | app: api.langChart}}:</li>
  <li [class.night]="api.mode" *ngFor="let pro of Property">
    {{pro.type | app: api.langChart}}
    <p [class.night]="api.mode" style="margin-left: 15px;" *ngFor="let value of pro.value">
      {{value}}&ensp;:&ensp;{{Today | date: value}}
    </p>
  </li>
</ul>
<i class="fas fa-arrow-alt-circle-up top" (click)='scrollTop()'
  [ngClass]="{'open': api.TopStatus, 'night': api.mode}"></i>