<a *ngFor="let item of [123, 456, 789, 159]" [routerLink]="['/rou', item]" class="btn">{{item}}.json</a>
<a *ngFor="let item of ['1234', '4567', '7891', '1597']" [routerLink]="['/rou', item]" class="btn">
  {{item | slice: 0:3}}.php
</a>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
<div class="lang">
  <span style="margin-right: 10px;" (click)='changeLang("zh-tw")'>{{"Chinese" | app: api.lang}}</span>
  <span (click)='changeLang("en-us")'>{{"English" | app: api.lang}}</span>
</div>