<section [class.night]="api.mode">

  <app_lang [Mode]="Mode" [Menu]="Menu" [mode]="mode" *ngIf="!InnerWidth"></app_lang>

  <div class="menuToggle" [ngClass]="{'us': api._lang == 'en-us', 'active': menu, 'night': api.mode}"
    *ngIf="InnerWidth">
    <div class="menulink">
      <app_btn [Menu]="Menu" *ngIf="InnerWidth"></app_btn>
    </div>
    <div class="toggleLang">
      <app_lang [Mode]="Mode" [Menu]="Menu" [mode]="mode" *ngIf="InnerWidth"></app_lang>
    </div>
  </div>

  <header [class.night]="api.mode">

    <div class="logo" [class.night]="api.mode">LOGO</div>

    <div class="link" *ngIf="!InnerWidth">
      <app_btn [Menu]="Menu"></app_btn>
    </div>

    <div class="mobile" [class.menu]="menu" *ngIf="InnerWidth" (click)="menu = !menu"></div>

  </header>

  <router-outlet></router-outlet>

</section>