/* You can add global styles to this file, and also import other style files */
p {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  width: 50px;
  padding: 5px;
  text-align: center;
  height: 15px;
  line-height: 15px;
}
