@import "./font.scss";
@mixin mobile {
  @media (max-width: 415px) {
    @content;
  }
}
@mixin ipad {
  @media (max-width: 2170px) and (min-width: 1490px) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "my_font", "微軟正黑體", sans-serif;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}
body {
  transition: 0.5s ease-in-out;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
section {
  color: #fff;
  width: 80%;
  height: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  box-shadow: -3px 5px 15px #000;
  border-radius: 15px;
  background: #555;
  opacity: 0.8;
  &.night {
    color: #000;
    background: #ccc;
    box-shadow: 1px 2px 5px #eee;
    box-shadow: -3px 5px 15px #fff;
  }
  @include mobile {
    height: 90%;
    top: 5%;
  }
  .menuToggle {
    height: 90%;
    border-radius: 15px 0 0 15px;
    width: 40%;
    position: fixed;
    left: -50%;
    opacity: 0;
    background-color: #000;
    z-index: 10;
    &.active {
      left: 10%;
      opacity: 1;
    }
    &.night {
      background-color: #777;
    }
    .menulink {
      height: 60%;
      text-align: center;
      a {
        margin-top: 50px;
        text-decoration: none;
        cursor: pointer;
        display: block;
        margin-right: 15px;
        color: #fff;
        &:link,
        &:visited {
          color: #fff;
        }
        &.night {
          color: #000;
          &:link,
          &:visited {
            color: #000;
          }
        }
      }
    }
    .toggleLang {
      position: relative;
      height: 30%;
      .lang {
        position: absolute;
        top: 37%;
        left: 15px;
        z-index: 9999;
        width: 63%;
        a {
          text-decoration: none;
          cursor: pointer;
          display: block;
          margin-right: 15px;
          float: left;
          color: #fff;
          margin-top: 8px;
          &:link,
          &:visited {
            color: #fff;
          }
          &.night {
            color: #000;
            &:link,
            &:visited {
              color: #000;
            }
          }
        }
      }
    }
  }
  header {
    text-align: center;
    width: 100%;
    height: 72px;
    line-height: 72px;
    background: #333;
    opacity: 0.8;
    border-radius: 15px 15px 0 0;
    &.night {
      background: #777;
    }
    .mobile {
      width: 10px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 35px;
      right: 15px;
      border-radius: 3px;
      cursor: pointer;
      &.menu {
        transform: rotate(45deg);
        width: 20px;
        &::before {
          opacity: 0;
        }
        &::after {
          width: 20px;
          top: 0;
          transform: rotate(90deg);
        }
      }
      &::before {
        content: "";
        width: 20px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: -6px;
        right: 0;
        border-radius: 3px;
      }
      &::after {
        content: "";
        width: 15px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 6px;
        right: 0;
        border-radius: 3px;
        &.menu {
          transform: rotate(135deg);
        }
      }
    }
    .logo {
      font-size: 36px;
      position: absolute;
      left: 15px;
      color: #fff;
      &.night {
        color: #000;
      }
      @include mobile {
        width: 94px;
        left: 50%;
        margin-left: -47px;
      }
    }
    a {
      text-decoration: none;
      cursor: pointer;
      display: block;
      margin-right: 15px;
      height: 100%;
      float: left;
      color: #fff;
      &:link,
      &:visited {
        color: #fff;
      }
      &.night {
        color: #000;
        &:link,
        &:visited {
          color: #000;
        }
      }
    }
    .link {
      height: 100%;
      position: relative;
      width: 200px;
      left: 50%;
      margin-left: -100px;
      a {
        text-decoration: none;
        cursor: pointer;
        display: block;
        margin-right: 15px;
        height: 100%;
        float: left;
        color: #fff;
        &:link,
        &:visited {
          color: #fff;
        }
        &.night {
          color: #000;
          &:link,
          &:visited {
            color: #000;
          }
        }
      }
    }
  }
}
.lang {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 9999;
  .langBtn {
    text-align: center;
    border-bottom: 3px solid #9b143c;
    box-shadow: 0px 2px 5px #9b143c;
    color: #fff;
    background: linear-gradient(to right, #c04168, #9b143c);
    margin-left: 8px;
    padding: 3px 8px;
    border-radius: 5px;
    float: left;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
      border-bottom: 0px solid #9b143c;
      transform: translateY(3px);
      background: linear-gradient(to right, #ac2d53, #8a0930);
    }
    &.night {
      color: #000;
      border-bottom: 3px solid #c04168;
      box-shadow: 0px 2px 5px #c04168;
      color: #fff;
      background: linear-gradient(to right, #cc6c89, #c04168);
      &:hover {
        border-bottom: 0px solid #c04168;
        background: linear-gradient(to right, #c04168, #9b143c);
      }
    }
  }
}
.rouText {
  color: #fff;
  margin: 15px;
  &.night {
    color: #000;
  }
}
